/* body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
} */

/* #tool-bar{
    background-color: white;
} */

.wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    background-size: 600% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.wrapper .intro {
    padding: 60px 15px;
}

.wrapper .intro h1 {
    text-align: center;
    Color: #fff;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer p {
    color: #fff;
    font-weight: normal;
}

footer p a {
    color: #fff;
    text-decoration: none;
    transition: 0.25s;
}

footer p a:hover {
    letter-spacing: 1px;
}

.fab {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transition: 0.25s;
    z-index: 2000;
    background: transparent;
}

.fab.active .fabTrigger {
    transform: scale(1);
}

.fab.active .fabTrigger .icon {
    background: transparent;
    transition: background 0.3s ease;
}

.fab.active .fabTrigger .icon,
.fab.active .fabTrigger .icon:before,
.fab.active .fabTrigger .icon:after {
    height: 3px;
}

.fab.active .fabTrigger .icon:before,
.fab.active .fabTrigger .icon:after {
    width: 20px;
    transform-origin: 50% 50%;
    transition: all 100ms ease, width 100ms 100ms ease, transform 300ms 200ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.fab.active .fabTrigger .icon:before {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.fab.active .fabTrigger .icon:after {
    right: 50%;
    transform: translateX(50%) rotate(-45deg);
}

.fab.active .fabNav a {
    opacity: 1;
    visibility: visible;
    transition: 0.35s cubic-bezier(0.4, 2.08, 0.55, 1);
}

.fab .fabTrigger {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 100px;
    background: #fff;
    transform: scale(0.675);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(108, 46, 185, 0.2);
    transition: 0.35s cubic-bezier(0.4, 2.08, 0.55, 1);
}

.fab .fabTrigger .icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.3s ease;
}

.fab .fabTrigger .icon,
.fab .fabTrigger .icon:before,
.fab .fabTrigger .icon:after {
    position: absolute;
    display: block;
    background: #000;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

.fab .fabTrigger .icon:before,
.fab .fabTrigger .icon:after {
    content: "";
    transition: all 100ms ease, right 100ms 100ms ease, left 100ms 100ms ease;
}

.fab .fabTrigger .icon:before {
    left: -11px;
    transform: translateX(-50%);
}

.fab .fabTrigger .icon:after {
    right: -11px;
    transform: translateX(50%);
}

.fab .fabNav {
    display: flex;
    align-items: center;
}

.fab .fabNav a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    width: 40px;
    height: 40px;
    font-family: "Noto Sans", sans-serif;
    outline: none;
    border: 0;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(108, 46, 185, 0.2);
    opacity: 0.0001;
    visibility: hidden;
    will-change: transform;
    transition: 0.35s cubic-bezier(0.4, 2.08, 0.55, 1);
}

.fab .fabNav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #fff;
    transition: 0.25s;
}

.fab .fabNav a i {
    color:var(--navbar-dark-secondary);
    color:green;
    transition: 0.25s;
}

.fab .fabNav a:hover:before {
    background-color: #000;
     background-color: var(--navbar-dark-secondary);

}

.fab .fabNav a:hover i {
    color: #fff;
}

.fab .fabNav a:hover .fabTooltip {
    opacity: 1;
    visibility: visible;
}

.fab .fabTooltip {
    position: absolute;
    z-index: -2;
    padding: 10px;
    color: #0b0000;
    font-size: 12px;
    border-radius: 5px;
    /* background: rgba(32, 88, 4, 0.8); */
    opacity: 0;
    visibility: hidden;
    cursor: default;
    pointer-events: none;
    transition: 0.5s;
    width:300px;
}

.fabHorizontal {
    flex-direction: row;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.fabHorizontal.active .fabNav.fabNav--left a {
    left: 0;
    transform: scale(1) translateX(0);
}

.fabHorizontal.active .fabNav.fabNav--right a {
    right: 0;
    transform: scale(1) translateX(0);
}

.fabHorizontal .fabTrigger {
    margin: 0 12px;
}

.fabHorizontal .fabNav {
    flex-direction: row;
}

.fabHorizontal .fabNav a:hover .fabTooltip {
    top: -100%;
    transform: translate(-50%, 50%) scale(1);
}

.fabHorizontal .fabNav.fabNav--left a {
    left: 45px;
    transform: scale(0.8) translateX(10px);
}

.fabHorizontal .fabNav.fabNav--left a:nth-child(1) {
    transition-delay: 0.3s;
}

.fabHorizontal .fabNav.fabNav--left a:nth-child(2) {
    transition-delay: 0.2s;
}

.fabHorizontal .fabNav.fabNav--left a:nth-child(3) {
    transition-delay: 0.1s;
}

.fabHorizontal .fabNav.fabNav--right a {
    right: 45px;
    transform: scale(0.8) translateX(-10px);
}

.fabHorizontal .fabNav.fabNav--right a:nth-child(1) {
    transition-delay: 0.1s;
}

.fabHorizontal .fabNav.fabNav--right a:nth-child(2) {
    transition-delay: 0.2s;
}

.fabHorizontal .fabNav.fabNav--right a:nth-child(3) {
    transition-delay: 0.3s;
}

.fabHorizontal .fabTooltip {
    top: -80%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, 50%) scale(0);
}

.fabVertical {
    flex-direction: column;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
}

.fabVertical.active .fabNav.fabNav--left a {
    left: 0;
    transform: scale(1) translateX(0);
}

.fabVertical.active .fabNav.fabNav--right a {
    right: 0;
    transform: scale(1) translateX(0);
}

.fabVertical .fabTrigger {
    margin: 12px 0;
}

.fabVertical .fabNav {
    flex-direction: column;
}

.fabVertical .fabNav a {
    margin: 12px 0;
}

.fabVertical .fabNav a:hover .fabTooltip {
    left: calc(0% + 50px);
    /* right: 200px; */
    transform: translate(0, -50%) scale(1);
}

.fabVertical .fabNav.fabNav--left a {
    left: 0;
    transform: scale(0.8) translateY(10px);
}

.fabVertical .fabNav.fabNav--left a:nth-child(1) {
    transition-delay: 0.3s;
}

.fabVertical .fabNav.fabNav--left a:nth-child(2) {
    transition-delay: 0.2s;
}

.fabVertical .fabNav.fabNav--left a:nth-child(3) {
    transition-delay: 0.1s;
}

.fabVertical .fabNav.fabNav--right a {
    left: 0%;
    transform: scale(0.8) translateY(-10px);
}

.fabVertical .fabNav.fabNav--right a:nth-child(1) {
    transition-delay: 0.1s;
}

.fabVertical .fabNav.fabNav--right a:nth-child(2) {
    transition-delay: 0.2s;
}

.fabVertical .fabNav.fabNav--right a:nth-child(3) {
    transition-delay: 0.3s;
}

.fabVertical .fabTooltip {
    top: 50%;
    right: 0;
    transform-origin: center left;
    transform: translate(0, -50%) scale(0);
}